/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass/reset";
@import "compass/css3/box-shadow";
@import url(http://fonts.googleapis.com/css?family=Orienta);

body{font-family: 'Orienta', sans-serif;color: #323232;margin: auto;font-size: 13px;}
.clear{clear: both;line-height: 2px;}
#header{
	background-color:#323232;
	height:40px;
	@include box-shadow(rgba(#000, 0.3) 0 0 25px);
	.headContent{
		width: 1210px;
		margin: auto;
		h1{
			font-size: 30px;
			background-color: #ffde00;
			padding: 20px;
			color: #fff;
			float: left;
		}
	}
}

#container{width: 1210px;margin: auto;
	#content{
		float: left;
		width: 820px;
		padding-right: 40px;
	}
	.articleContent{
		div{
			padding:0 0 30px 0;
			margin-top: 50px;
			border-bottom: 1px solid #eeeeee;
			h2{
				background-color:#323232;
				font-size: 20px;
				color: #fff;
				font-weight: bold;
				padding: 7px 20px 7px 5px;
				overflow: hidden;
				width: 320px;
				float: right;
				text-align: right;
				border-right: 3px solid #ffde00;
				a{
				font-size: 20px;
				color: #fff;
				text-transform: uppercase;
				text-decoration: none;

				}

			}
			p{
				padding: 20px 0 0 0;
			}
			
		}

	}

}