/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass/reset";
@import "compass/css3/box-shadow";
@import url(http://fonts.googleapis.com/css?family=Orienta);
@import url(http://fonts.googleapis.com/css?family=Open+Sans);
@import "compass/css3/border-radius";

/* Smartphones (portrait and landscape) ----------- */
@media only screen
and (min-device-width : 320px)
and (max-device-width : 480px) {
/* Styles */
}
/* Smartphones (landscape) ----------- */
@media only screen
and (min-width : 321px) {
/* Styles */
}
/* Smartphones (portrait) ----------- */
@media only screen
and (max-width : 320px) {
/* Styles */
}
/* iPads (portrait and landscape) ----------- */
@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px) {
/* Styles */
}
/* iPads (landscape) ----------- */
@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px)
and (orientation : landscape) {
/* Styles */
}
/* iPads (portrait) ----------- */
@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px)
and (orientation : portrait) {
/* Styles */
}
/* Desktops and laptops ----------- */
@media only screen
and (min-width : 1224px) {
/* Styles */
}
/* Large screens ----------- */
@media only screen
and (min-width : 1824px) {
/* Styles */
}
/* iPhone 4 ----------- */
@media
only screen and (-webkit-min-device-pixel-ratio : 1.5),
only screen and (min-device-pixel-ratio : 1.5) {
/* Styles */
}



body{font-family: 'Orienta', sans-serif;color: #323232;margin: auto;font-size: 13px;}
.clear{clear: both;line-height: 2px;}
#header{
	background-color:#333333;
	.nav{
		width: 940px;
		margin: auto;
		h1{
			font-family: 'Open Sans', sans-serif;
			font-size: 20px;
			color: #fff;
			float: left;
			}
		ul{
			float: right;
			li{
				float: left;
				color: #fff;
				padding: 8px;
				margin-right: 8px;
			}
		}
	}
}
.subHeader{	
	.headContent{
		margin: auto;
		
			
			padding: 10px 0 20px 0;
			.headerNav{
				float: left;
				 padding-left: 150px;
				.search{
					width: 240px;
					height: 30px;
					@include border-radius(4px 0px 0px 4px);
					border: 1px solid #EEEEEE;
					background-color: #f3f3f3;
					border-right: none;
					display: inline-block;
					float: left;
				}
				.submitSearch{
					display: inline-block;
					border: 1px solid #EEEEEE;
					color: #fff;
					background-color: #323232;
					 float: left;
					 border-left: none;
					 height: 36px;
					 @include border-radius(0px 4px 4px 0px);
					  width: 45px;
				}
			}
		.flatNav{
			width: 940px;
			margin: auto;
			padding: 20px 0;
			
		}
		
	}
}
.highlight{
		
		margin-bottom: 20px;
		height: 450px;
	}
#container{
	width: 940px;margin: auto;
	padding: 0 20px;
	#content{
		float: left;
		width: 595px;
		padding-right: 40px;
	}
	.context{
		float: right;
		padding-top: 20px;
	}
	
	.articleContent{
		div{
			padding:0 0 15px 0;
			margin-top: 50px;
			border-bottom: 1px solid #eeeeee;
			h2{
				
				font-size: 20px;
				color: #000;
				font-weight: bold;
				padding: 0px 20px 7px 5px;
				overflow: hidden;
				width: 180px;
				text-align: left;
				
				a{
				font-size: 20px;
				color: #000;
				text-transform: uppercase;
				text-decoration: none;

				}

			}
			p{
				padding: 10px 0 0 0px;
				text-align: justify;
    			
    			font-size: 0.9em;


			}
			.createSpan{
    				font-size: 0.8em;
    				color: #676767;
    				padding: 0px 0 10px 0px;
    		}
    		.contArticle{
    			float: left;
    			padding: 0px 0 0px 30px;
    			width: 385px;
    			margin: 0px;
    			border: none;
    		}
			
		}
		.illus{float: left;width: 180px;margin-top: 0px;border: none;}

	}

}

#footer{
	background-color: #ffde00;
	.footContent{
		width: 940px;
		margin: auto;
		height: 150px;
	}
	.subFooter{
		background-color:#323232;
		.subContent{
		width: 940px;
		margin: auto;
		height: 300px;
		}
	}
}